# -----------------------------
# Python
# -----------------------------
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.env

# -----------------------------
# ChromaDB
# -----------------------------
chroma_db/

# -----------------------------
# VS Code
# -----------------------------
.vscode/

# -----------------------------
# React / Node
# -----------------------------
node_modules/
frontend/node_modules/
frontend/dist/

# -----------------------------
# Logs
# -----------------------------
*.log

# -----------------------------
# OS files
# -----------------------------
.DS_Store
Thumbs.db